#about_container {
	background-image: url("../Images/landingbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

#about_back {
	background-color: var(--beige);
    background-image: url("../Images/about-01.png");
	background-size: cover;
	background-repeat: no-repeat;
}