header {
	background-image: url("../Images/landingbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

#card_container {
	padding: 80px 0px;

}

#title_card {
	background-color: #F9F9EB;
	padding: 50px;
}

.text {
	height: 30px;
	margin: 10px 0;
}

button {
	border: none;
	background-color: none;
}

@media only screen and (max-width: 767px) {
	div#title_card {
		padding: 20px !important;
	}
	.myflex {
		padding: 20px !important;
	}
}