#faq_container {
	background-image: url("../Images/landingbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

#info_container {
    background-image: url("../Images/FAQ-02.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.question {
    margin: auto;
    width: 50%;
    padding: 10px 0;
}