
@import url("https://use.typekit.net/uyb5cqk.css");

:root {
		/*  Colours:  */
	--gold: #D59B27;
	--grey: #707070;
	--burgundy: rgb(130,16,15);
	--beige: rgb(253,251,240);
	--green: rgb(28,63,55);



		/*  Fonts:  */
	--heading: "lust", serif;
	--main: "goldenbook", serif;
}

*, img, div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: var(--beige);
	font-family: var(--main);
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: var(--heading);
	color: var(--burgundy);
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-align: left;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 25px;
}

p, label {
	font-family: var(--main);
	color: var(--burgundy);
	margin: 0;
	padding: 0;
	font-size: 22px;
	text-align: left;
}

label {
	font-size: 18px;
	text-align: left;
}
select {
	color: black;
	font-family: serif;
}

button {
	border: none;
	background-color: none;
}

input {
	font-size: 14px;
	height: 25px;
	margin-bottom: 10px;
	margin-top: 2px;
	padding: 5px;
}

select {
	padding: 5px;
	color: black;
	font-size: 15px;
	font-family: 'avenir next';
	width: 160px;

}

	/*  Nav:  */
nav {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: white;
	box-shadow: 5px 0 10px 1px grey;
	z-index: 10;
}

#navbar {
	text-align: right;
	display: flex;
	padding-top: 10px;
}

#search {
	flex:1;
}


ul {
	flex:1;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding-right: 20px;
	text-align: right;
}

li {
	padding: 10px;
	display: inline-block;
}

li a {
	padding: 10px;

}

li a:hover {
	border-bottom: 1px solid black;
}

a {
	text-decoration: none;
	color: var(--grey);
}

#shopping_bag {
	margin: 10px 45px 0 0;
	width: 100%;
	cursor: pointer;
}

#counter_container {
	position: fixed; 
	background-color: black; 
	border-radius: 20px; 
	width: 15px; 
	height: 15px;
	text-align: center;
	margin-left:25px;
}

.danger-btn {
	width: 20px; 
	height: 20px; 
	margin-top: 5px; 
	cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


		/*  Subscribe:  */

.box {
	height: 20px;
	margin: 20px;
	width: 300px;
	font-family: var(--main);
	font-size: 20px;
	color: grey;
	padding: 10px
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .content {
	padding-top: 60px;
  } 
  
	/*  Footer:  */

footer {
	background-color: white;
}



#logo_container {
	width: 50%;
	text-align: left;
}

#navbar {
	width: 50%;
	text-align: right;
}

.flex {
	display: flex;
	justify-content: center;
	text-align: center;
}

.col {
	flex: 1;
	margin: 0 20px;
}

.black_button {
	color: white;
	background-color: black;
	padding: 15px 45px;
	font-family: var(--main);
	font-size: 12px;
	border-radius: 20px;
	border: 0.5px solid black;
	transition: background-color 0.5s ease;
	transition: color 0.5s ease;
	font-size: 20px;
}

.black_button:hover {
	background-color: var(--gold);
	border: 0.5px solid white;
	color: black;
}

.white_button {
	color: black;
	background-color: var(--beige);
	padding: 15px 45px;
	font-family: var(--main);
	font-size: 12px;
	transition: background-color 0.5s ease;
	transition: color 0.5s ease;
	border-radius: 20px;
	font-size: 20px;
}

.white_button:hover {
	background-color: var(--gold);
	color: black;
}

.clear_button {
	color: white;
	padding: 15px 45px;
	font-family: var(--main);
	font-size: 12px;
	transition: background-color 0.5s ease;
	transition: color 0.5s ease;
	border-radius: 20px;
	font-size: 20px;
	border: 1px solid white;
}

.clear_button:hover {
	background-color: var(--gold);
	border: 1px solid var(--gold);
	color: black;
}

	/*  Cart:  */

#cart_container {
	position: fixed;
	overflow: scroll;
	height: 400px;
	z-index: 100;
	width: 30%;
	margin-top: 100px;
	right: 0;
	background-color: white;
	box-shadow: 5px 5px 20px 0px black;
	border: 1px solid black;
}

#subtotal {
	border-bottom: 1px solid black;
	justify-content: space-between;
	padding: 20px;
}

.hide_cart {
	visibility: hidden;
	opacity: 0;
	transition: opacity 200ms ease, visibility 200ms ease;
}

.show_cart {
	visibility: visible;
	opacity: 1;
}

.bag_item_container {
	border-bottom: 1px solid black;
	padding: 10px;
	justify-content: space-between;
	align-items: flex-start;
}

.bag_image, .bag_info {
	padding: 5px;
}

.item_title, .price {
	font-size: 20px; 
	padding: 5px 0; 
	padding-top: 10px; 
	font-weight: 700;
	text-align: left;
}

	/*  Instagram:  */

#subscribe {
	background-image: url("../Images/landingbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

@media only screen and (max-width: 767px) {
	.flex {
		display: block !important;  
	}
	div#logo_container {
		width: 100% !important;
		text-align: center;
	}

	div#navbar {
		width: 90% !important;
		display: inline-block;
		float: left;
	}
	
	div#navbar ul {
		text-align: center;
		padding-right: 0px !important;
	}


	nav#nav div:nth-child(3) {
		margin: 0px 0px !important;
		width: 10% !important;
		text-align: center;
		display: inline-block;
	}

	div#counter_container {
		margin-left: 0px !important;
	}

	#cart_container {
		width: 100% !important;
    	margin-top: 140px !important;
	}

	.my_bag {
		width: 100% !important;
	}

	.price, .item_title{
		display: inline-block;
		width: 45%;
	}
	.qty {
		width: 40% !important;
	}

	.disp1, .disp2, .sub, .total_amount {
		display: inline-block !important;
		width: 49% !important;
	}

	
	
}