header, #subscribe, #meet_the_maker {
	background-image: url("../Images/landingbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.feature {
	transition: transform 400ms ease;
}
.feature:hover {
	transform: scale(1.02);
}

.label {
	border: 1px solid black; 
	justify-content: space-between; 
	padding: 10px; 
}



#homemade_container {
	align-items: center;
}

.maker {
	flex: 1;
}

.social_card {
	flex: 1;
	padding: 0 20px;
	transition: transform 400ms ease;
}

.social_card:hover {
	transform: scale(1.02);
}

.box {
	height: 60px;
	margin: 20px;
	width: 300px;
	font-family: var(--main);
	font-size: 25px;
	color: grey;
}

@media only screen and (max-width:767px) {

	
  
	section#meet_the_maker {
		padding: 0 0 0 0px !important;
	}
	section#meet_the_maker .flex {
		padding: 0px !important;
	}

	.maker.marker2 {
		display: none !important;
	}


	.maker.marker1 {
		padding-left: 0px !important;
	}
	section#meet_the_maker p, section#meet_the_maker h2, section#meet_the_maker div {
		text-align: center !important;
		width: 100% !important;
	}

	section#meet_the_maker {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
	}

	section#meet_the_maker .flex {
		padding-top: 50px !important;
		padding-bottom: 50px !important;
	}

	.my_card_container {
		padding: 300px 0px 90px 0px !important;
	}

	h2#black_friday {
		font-size: 40px !important;
	}

	h2#end_offer {
		font-size: 20px !important;
	}
	
	div#title_card h1 {
		font-size: 60px !important;
	}
	section#on_social .flex {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.on_social {
		padding: 20px !important;
		height: 500px;
	}

	.social_card {
		width: 50% !important;
		float: left !important;
		margin: 20px 0 !important;
	}

	div.feature {
		margin: 40px 0 !important;
	}

	
}