#store {
	background-image: url("../Images/landingbackground.jpg");
	background-size: contain;
	background-repeat: no-repeat;

}

#card_container {
	background-image: url("../Images/winter.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -300px;
}

.product_row{
	margin: 20px 0;
}

.product {
	margin: 20px;
	padding-top: 20px;
	transition: transform 500ms ease;
}

.product:hover {
	transform: scale(1.03);
}

p.name, p.price{
	text-align: center;
	margin: 0px;
}

p.sprice, p.price {
	font-size: 18px;
}

.name, .sprice {
	margin-top: 5px;
	text-align: center;
}

.item_image {
	margin-bottom: 10px;
}
@media only screen and (max-width: 769px) {
	div#store_container {
		padding-top: 200px !important;
	}
	.topdiv {
		padding: 0 0 0 0 !important;
	}
	section#subscribe {
		padding: 20px !important;
	}
	section#subscribe .flex {
		padding: 0px !important;
	}

	.product_row {
		margin: 0 !important;
	}

}

