#store {
	background-image: url("../Images/landingbackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.product {
	margin: 20px;
	transition: transform 500ms ease;
}

.product:hover {
	transform: scale(1.03);
}

p.name, p.price{
	text-align: center;
	margin: 5px;
}

p.price {
	font-size: 18px;
}

